*{
    font-family: "Playfair Display", serif;
    padding: 0px;
    margin: 0px;
}

html
{
scroll-behavior:smooth ;
}
ul li
{
 font-size:x-large;
}
#homediv
 {
    background-image: url('https://wallpapers.com/images/hd/travel-hd-4zjwrepl0mzn70nd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}
#title
{
    font-size: 90px;
    color:black;
}
#welcome-quote
{
    font-size: 30px;
    color:black;

}
#name
{
    font-family: "Bebas Neue", sans-serif;
    color: black;
    font-size: 100px;
}
.heading
{
    text-align: center;
}
.card-title
{
    color: blue;
    font-size: 40px;
}
.card-body p
{
  text-align: justify;
}
#contact #icons
{
    text-align: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
}
#mission
{
    font-size: xx-large;
}
#abimg1
{
    margin-left: 400px;
    margin-top: -200px;
    height:300px;
    width:600px;
}
#abimg2
{
  margin-left: 1000px;
  margin-top: -250px;
}
#footer-nav
{
 display: flex;
 align-items: center;
 justify-content: center;
 justify-content: space-between;
 list-style: none;
}
.f-nav
{
    color: white;
    text-decoration: underline;
    font-size: 20px;
}
@media(max-width:720px)
{
 #title
 {
    font-size: 20px;
   
 }  
 #welcome-quote
 {
    font-size: 10px;
    margin-top: 80px;
 } 
 #name
 {
    font-size: 20px;
 }
 #about h1
 {
    font-size: 20px;
 }
 #about h5
 {
    font-size: 12px;
 }
 #about #mission
 {
    font-size: 12px;
    text-align: center;
 }
 #about #abimg1,#abimg2
 {
    height:200px;
    width:100%;
    margin-left: 0px;
    margin-top: 1px;
 }
 #contact #icons
 {
    display: inline;
 }
 #icons img
{
    height: 200px;
    width: 300px;
}
 
}


